body {
    font-family: 'Montserrat', sans-serif;
    background: #1f2023;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.15), transparent),
                      radial-gradient(circle at bottom left, rgba(45, 128, 208, 0.15), transparent);
}

.container {
    padding: 40px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 0 0 10px rgba(73, 198, 229, 0.5),
                 0 0 20px rgba(73, 198, 229, 0.5),
                 0 0 40px rgba(73, 198, 229, 0.5);
}

#generator-btn {
    background: #49c6e5;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 20px rgba(73, 198, 229, 0.6);
    transition: all 0.3s ease;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
}

#generator-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 30px rgba(73, 198, 229, 0.8);
}

#lotto-numbers-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically center the balls */
    margin-top: 40px;
    min-height: 80px; /* Adjust height to fit the new balls */
}

lotto-ball {
    margin: 0 12px; /* Increase spacing between balls */
}
